<main>

   <h1 class="text-center text-uppercase">Hello world</h1>
   <h2 class="text-end text-lowercase">Second</h2>
   <h3 class="text-capitalize">3 title one two</h3>
   
   <hr>

   <div class="display-1 text-muted"> Hello World</div>
   <div class="display-3">Second</div>
   <div class="display-5">3 title</div>

   <hr>

   <div class="text-muted text-end">
    Додатковий текст
   </div>

   <hr>

   <a href="#" class="btn btn-primary">
    button primary
    </a>

    <hr>

    <p class="text-success">My text</p>
    <p class="text-muted">My text</p>

    <hr>


    <div class="card">
    <div class="card-body">
    <button class="btn btn-secondary btn-lg">Додати</button>
    <button class="btn btn-outline-secondary">Редагувати</button>
    <button class="btn btn-outline-danger btn-sm">Видалити</button>
    </div>
    </div>


    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

    <hr><br><br>

        <div class="row g-1">

        <section class="col-12">
        <div class="card text-bg-dark">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo" >
        <div class="card-body">
        <h5 class="card-title text-bg-primary">Product #8489</h5>
        <p class="text-bg-secondary">Ноутбук Acer Aspire 7 A715-42G-R3EZ (NH.QBFEU.00C)</p>
        <a href="/summary" class="btn btn-primary">Open </a>
        </div>
        </div>
        </section>

        <section class="col-6">
        <div class="card text-bg-primary">

        <div class="card-header ">
        <div class="display-6">Menu</div>
        </div>

        <ul class="list-group list-group-flush">
        <li class="list-group-item">
        <a href="#" class="bnt btn-link">Home page</a>
        </li>
        <li class="list-group-item">
        <a href="#" class="bnt btn-link">Sumamry page</a>
        </li>
        <li class="list-group-item">
        <a href="#" class="bnt btn-link">Skills page</a>
        </li>
        </ul>

        <div class="card-footer">
        <button class="btn btn-dark btn-sm">Update List</button>
        </div>
        </div>
        </section>

        <section class="col-6">
        <table class="table table-striped table-bordered text-bg-primary">
        <thead>
        <tr>
        <th>
        #id
        </th>
        <th>
        name
        </th>
        <th>
        age
        </th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <th>1</th>
        <td>Jhon</td>
        <td>24</td>
        </tr>
        <tr>
        <th>2</th>
        <td>Ivan</td>
        <td>27</td>
        </tr>
        <tr>
        <th>3</th>
        <td>Dima</td>
        <td>21</td>
        </tr>
        <tr>
        <th>4</th>
        <td>Ana</td>
        <td>20</td>
        </tr>
        <tr>
        <th>5</th>
        <td>Alina</td>
        <td>29</td>
        </tr>
        </tbody>
        </table>
        </section>

        <section class="col-12">
        <div class="row g-2">
        <div class="col-4">
        <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
        </div> 
        </div>

        <div class="col-4">
        <div class="card text-bg-warning">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
        </div> 
        </div>

        <div class="col-4">
        <div class="card text-bg-light">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
        </div> 
        </div>

        <div class="col-4">
        <div class="card text-bg-primary">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
        </div> 
        </div>

        <div class="col-4">
        <div class="card text-bg-danger">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
        </div> 
        </div>

        <div class="col-4">
        <div class="card text-bg-info">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
        </div> 
        </div>
        </section>
        </div>

        </div>
        </main>