{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<main class="p-3">
<h3>Список сторінок</h3>
<div>Проєкт resume:</div>
<div>
    <ul class="list-group list-group-flush">
     <li class="list-group-item">
      <a href="/summary" class="btn btn-primary">Summary</a>
     </li>
     <li class="list-group-item">
      <a href="/skills" class="btn btn-primary">Skills</a>
     </li>
     <li class="list-group-item">
      <a href="/education" class="btn btn-primary">Education</a>
     </li>
     <li class="list-group-item">
      <a href="/work" class="btn btn-primary">Work</a>
     </li>
     <li class="list-group-item">
      <a href="/person" class="btn btn-primary">Person</a>
     </li>
     <li class="list-group-item">
      <a href="/bio" class="btn btn-primary">Bio</a>
     </li>
     <li class="list-group-item">
      <a href="/program" class="btn btn-primary">Program</a>
     </li>
     <li class="list-group-item">
      <a href="/web" class="btn btn-primary">Web</a>
     </li>
     <li class="list-group-item">
      <a href="/js" class="btn btn-primary">Js</a>
     </li>
     <li class="list-group-item">
      <a href="/car" class="btn btn-primary">Car</a>
     </li>
     <li class="list-group-item">
      <a href="/mac" class="btn btn-primary">Mac</a>
     </li>
     <li class="list-group-item">
      <a href="/facebook" class="btn btn-primary">Facebook</a>
     </li>
     <li class="list-group-item">
      <a href="/bootstrap" class="btn btn-primary">Bootstrap</a>
     </li>
     <li class="list-group-item">
      <a href="/task21" class="btn btn-primary">Task21</a>
     </li>
     <li class="list-group-item">
      <a href="/task22" class="btn btn-primary">Task22</a>
     </li>
     <li class="list-group-item">
      <a href="/task31" class="btn btn-primary">Task31</a>
     </li>
     <li class="list-group-item">
      <a href="/shophome" class="btn btn-primary">Shophome</a>
     </li>
     <li class="list-group-item">
      <a href="/shoporder" class="btn btn-primary">Shoporder</a>
     </li>
     <li class="list-group-item">
      <a href="/shopcart" class="btn btn-primary">Shopcart</a>
     </li>
     <li class="list-group-item">
      <a href="/shopprofile" class="btn btn-primary">Shopprofil</a>
     </li>
     <li class="list-group-item">
      <a href="/shopreview" class="btn btn-primary">Shopreview</a>
     </li>
     </li>
     <li class="list-group-item">
      <a href="/shopcatalog" class="btn btn-primary">Shopcatalog</a>
     </li>
    </ul>
</div>
</main>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}