<div>
    <main>
        <section>

            <h1 class="display=1 text=center">Page_header</h1>

            <div>{{#with page_header}}
                <div>{{title}}</div>
                <div>{{description}}</div>
                {{/with}}
                </div>

        </section>
    </main>
</div>